---
layout: case-studies
title:  These are my Case Studies
---

{% for post in site.categories['case-study'] %}
	<div class="row full-width section">
		{% include default-columns.html %}
			<article>
				<header class="case-study">
					<h1 class="h2"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} / {{ post.client }}</a></h1>
					<h5>Employer: {{ post.employer }}</h5>
				</header>
				<div class="post">
					<p class="case-study-details">
						Skills: {{ post.skills }}
						<br>
						Site Active: {% if post.active == true %}Yes{% else %}No{% endif %}
						<br>
						URL: <a href="{{ post.link }}" target="_blank">{{ post.link }}</a>
						<br>
						Maintaining: {% if post.maintaining == true %}Yes{% else %}No{% endif %}
					</p>
					{{ post.content }}
				</div>
			</article>
		</div>	
	</div>
{% endfor %}