<div class="row">
	<div class="screen-12 screen-centered columns">
		<nav class="primary">
			<ul>
				<li><a href="{{ site.baseurl }}/case-studies">Case Studies</a></li>
				<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
				<li><a href="https://github.com/dustinarmstrong" target="_blank">Github</a></li>
				<li><a href="http://twitter.com/dustinarmstrong" target="_blank">Twitter</a></li>
				<li><a href="http://linkedin.com/in/dustinarmstrong/" target="_blank">LinkedIn</a></li>
				<li><a href="mailto:dustin@dustinarmstrong.com">Email</a></li>
			</ul>
		</nav>
	</div>
</div>