$white: rgb(240, 240, 240);
@mixin transition($duration: 1s) {
	transition: all $duration;
		-webkit-transition: all $duration;
		-moz-transition: all $duration;
}
html, body {
	height: 100%;
	max-width: 100%;
	overflow-x: hidden;
}
body {
	max-height: 100%;
	color: $white;
	@include transition(.5s);
	&.pink {
		background: #E56B6B;
	}
	&.blue {
		background: rgb(26,198,204)
	}
	p {
		margin-bottom: 1em;
		&:last-child {
			margin-bottom: 0;
		}
	}
	header {
		margin: 2em 0 3em 0;
		text-align: center;
		.avatar {
			margin-bottom: 1em;
			display: inline-block;
			width: 5em;
			height: 5em;
			-webkit-animation-delay: 1s;
			float: none;
			clear: both;
			img {
				width: 100%;
				border-radius: 200px;	
			}
		}
		h1 {
			color: $white;
			text-transform: uppercase;
			font-size: 1.8em;
			margin-bottom: 0;
			line-height: 1em;
			@media #{$medium} {
				margin-top: .1em;
				font-size: 2em;
			}
			@media #{$large} {
				margin-top: .2em;
				font-size: 2.5em;
			}
			small {
				font-style: italic;
				line-height: 1em;
				margin-top: .4em;
			}
		}

	}
	nav {
		ul {
			margin-top: 1em;
			text-align: center;
			height: 0;
			@include transition;
			&:before {
				content: "Menu";
				font-family: $h-font-family;
				font-size: 1em;
				position: absolute;
				right: 1em;
				top: 0;
				padding: 1em 2em;
				display: block;
				border: 1px solid $white;
				border-radius: 200px;
				overflow: hidden;
				height: 0;
			}
			@media #{$medium} {
				text-align: right;
				height: auto;
				&:before {
					display: none;
				}
			}
			&.expand {
				height: 160px;
				@include transition;
				&:before {
					content: "close";
					top: 8.2em;
					right: .1em;
				}
				li {
					display: inline-block;
				}
			}
			li {
				display: none;
				border-radius: 200px;
				padding: .3em 1em;
				margin: 0 .1em .5em 0;
				font-size: 1em;
				font-family: $h-font-family;
				background: transparent;
				border: 1px solid $white;
				outline: 0;
				@include transition(.3s);
				width: 49%;
				&:nth-child(even) {
					float: right;
				}
				&:nth-child(odd) {
					float: left;
				}
				@media #{$medium} {
					font-size: .7em;
					display: inline-block;
					width: auto;
					padding: .5em 1em;
					margin: 0 .2em 1em 0;
					border: 2px solid $white;
					&:nth-child(even), &:nth-child(odd) {
						float: none;
					}
				}
				&:focus {
					box-shadow: none;
				}
				&:hover {
					background: rgba(0,0,0,0.2);
					@include transition(.3s);
				}
				&:last-child {
					margin-right: 0;
				}
			}
			.content {
				padding: 1em 0;
			}
		}
	}
	.section {
		padding: 4em 0;
		background: black;
	}
	.introduction {
		position: fixed;
		 display: table;
		//display: none;
		top: 0;
		left: 0;
		height: 100%;
		max-height: 100%;
		overflow: hidden;
		width: 100%;
		background-color: rgb(255,255,255);
		&.hidden {
			display: none;
			height: 0;
			width: 0;
			overflow: hidden;
		}
		header {
			text-align: left;
		}
		.vertical-wrapper {
			display: table-cell;
			vertical-align: middle;
		}
		.intro {
			color: black;
		}
		button {
			border-radius: 0;
			background: black;
			border: 0px;
			@include transition(.3s);
			&:hover {
				background: lighten(black, 20%);
				@include transition(.3s);
			}
		}
	}
}
	