$white: rgb(240, 240, 240);
$footer-height: 2em;
@mixin transition($duration: 1s) {
	transition: all $duration;
		-webkit-transition: all $duration;
		-moz-transition: all $duration;
}
html, body {
	height: 100%;
	max-width: 100%;
	overflow-x: hidden;
}
body {
	color: $white;
	@include transition(.5s);
	&.pink {
		background: #E56B6B;
	}
	&.blue {
		background: rgb(26,198,204)
	}
	&.green {
		background: #34EC86;
	}
	&.orange {
		background: rgb(240, 154, 61);
	}
	h1, h2, h3, h4, h5, h6 {
		color: $white !important;
	}
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
	a {
		color: $white;
		background-image: linear-gradient(to top, rgba(0,0,0,0) 12%, $white 12%, $white 16%, rgba(0,0,0,0) 16%);
		&:visited, &:hover {
			color: inherit;
		}
	}
	img {
		max-width: 100%;
	}
	blockquote {
		border-left: 2px solid $white;
	}
	.site {
		min-height: 100%;
		margin-bottom: -$footer-height;
		&:after {
			content: "";
			display: block;
			height: $footer-height;
		}	
	}
	// THIS NEEDS TO BE MERGED
	header {
		margin: 2em 0 3em 0;
		text-align: center;
		&:not(.main-header) {
			// text-align: left !important;
		}
		.avatar {
			margin-bottom: 1em;
			display: inline-block;
			width: 5em;
			height: 5em;
			-webkit-animation-delay: 1s;
			float: none;
			clear: both;
			a {
				background-image: none;
			}
			img {
				width: 100%;
				border-radius: 200px;	
			}
		}
		h1, .h1 {
			color: $white;
			text-transform: uppercase;
			font-size: 1.8em;
			margin-bottom: 0;
			line-height: 1em;
			@media #{$medium} {
				margin-top: .1em;
				font-size: 2em;
			}
			@media #{$large} {
				margin-top: .2em;
				font-size: 2.5em;
			}
			small {
				font-style: italic;
				line-height: 1em;
				margin-top: .4em;
			}
		}
		h2, .h2 {
			text-transform: uppercase;
		}

	}
	nav {
		ul {
			margin-top: 1em;
			text-align: center;
			height: 0;
			@include transition(.1s);
			&:before {
				content: "Menu";
				font-family: $h-font-family;
				font-size: 1em;
				position: absolute;
				right: .1em;
				top: 0;
				padding: 1em;
				display: block;
				border: 1px solid $white;
				border-radius: 200px;
				overflow: hidden;
				height: 0;
			}
			@media #{$medium} {
				text-align: right;
				height: auto !important;
				&:before {
					display: none;
				}
			}
			&.expand {
				height: 145px;
				overflow: hidden;
				@include transition(.1s);
				&:before {
					content: "Close";
					top: 8.2em;
					right: .1em;
				}
				li {
					display: inline-block;
				}
			}
			li {
				display: none;
				border-radius: 200px;
				padding: 0;
				margin: 0 .1em .5em 0;
				font-size: 1em;
				background: transparent;
				border: 1px solid $white;
				outline: 0;
				@include transition(.3s);
				width: 49%;
				&:nth-child(even) {
					float: right;
				}
				&:nth-child(odd) {
					float: left;
				}
				&:focus {
					box-shadow: none;
				}
				&:hover {
					background: rgba(0,0,0,0.2);
					@include transition(.3s);
				}
				&:last-child {
					margin-right: 0;
				}
				@media #{$medium} {
					font-size: .7em;
					display: inline-block;
					width: auto;
					margin: 0 .2em 1em 0;
					border: 2px solid $white;
					&:nth-child(even), &:nth-child(odd) {
						float: none;
					}
				}
				a, a:visited, a:hover {
					color: $white;
					font-family: $h-font-family;
					padding: .3em 1em;
					display: block;
					@media #{$medium} {
						padding: .5em 1em;
					}
				}
			}
			.content {
				padding: 1em 0;
			}
		}
	}
	.section {
		padding: 4em 0;
		background: $primary;
		.highlight {
			background: rgb(30,30,30);
		}
		&:nth-child(even) {
			background: rgb(30,30,30);
			.highlight {
				background: $primary;
			}
		}
		.post {
			&.excerpt {
				p {
					margin-bottom: .3em;
				}
				.read-more {
					float: right;
					margin-right: 1em;
					font-size: .9em;
					font-style: italic;
					a {
						background-image: none;
					}
				}
			}
			p {
				&.case-study-details {
					margin-top: 2em;
					font-size: .8em;
				}
			}
		}
		header {
			margin-top: 0;
			margin-bottom: 1em;
			text-align: center;
			&.sidebar {
				margin-bottom: .2em;
				h1, .h1, h2, .h2 {
					font-size: .7em;
				}
			}
			h1, .h1, h2, .h2 {
				margin-bottom: 0;
			}
			.meta {
				font-family: $h-font-family;
				font-size: .7em;
				&:before, &:after {
					content: "•";
					padding: .1em;
				}
			}
			a {
				color: $white;
				font-family: $h-font-family;
				text-transform: uppercase;
				background-image: none;
			}
		}
		// &:last-child {
		// 	padding: 0 0 4em 0;
		// }
	}
	.introduction {
		position: fixed;
		//display: table;
		display: none;
		top: 0;
		left: 0;
		height: 100%;
		max-height: 100%;
		overflow: hidden;
		width: 100%;
		background-color: rgb(255,255,255);
		&.hidden {
			display: none;
			height: 0;
			width: 0;
			overflow: hidden;
		}
		header {
			text-align: left;
		}
		.vertical-wrapper {
			display: table-cell;
			vertical-align: middle;
		}
		.intro {
			color: $primary;
		}
		button {
			border-radius: 0;
			background: $primary;
			border: 0px;
			@include transition(.3s);
			&:hover {
				background: lighten($primary, 20%);
				@include transition(.3s);
			}
		}
	}
	.highlight {
		background: #1A1A1A;
	}
	.site-footer {
		text-align: center;
		height: $footer-height;
		padding: .5em 0;
		font-family: $h-font-family;
		.contact {
			height: 0;
			overflow: hidden;
			@include transition(.3s);
			&.expand {
				height: auto;
			}
			form {
				margin: 2em 0;
				label {
					text-align: left;
					display: block;
					color: $primary;
					text-transform: uppercase;
				}
				input:not([type=submit]):not([type=file]), textarea {
					box-sizing: border-box;
					background: $white;
					font-size: 1em;
					outline: 0;
					border: none;
					width: 100%;
					display: block;
					margin: 0 0 .5em 0;
					padding: .25em;
				}
				input[type="submit"] {
					width: 100%;
				}
			}
		}
	}
}
	