.highlight	{ 
	max-width: 100%;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	font-size: .75em;
	color: #777;
	border-radius: $border-radius;
	padding: .5em .5em .5em 2em;
	background-color: #49483e;
	margin: $p-margin;
	// &:before {
	// 	content: 'Expand Code';
	// 	display: inline-block;
	// 	position: absolute;
	// 	right: 1%;
	// 	background: #dedede;
	// 	margin: -7px 0 0 0;
	// 	padding: .54em;
	// 	@media #{$small} {
	// 		display: none;
	// 	}
	// }
	&.expand {
		padding: 2.4em .5em .5em 2em;
		@media #{$small} {
			padding: .5em .5em .5em 2em;
		}
		// &:before {
		// 	display: block;
		// 	content: 'Collapse Code';
		// 	left: 0;
		// 	right: 0;
		// 	position: absolute;
		// 	margin: -32px .3em;
		// 	background: rgba(222, 222, 222, 1);
		// 	@media #{$small} {
		// 		display: none !important;
		// 	}
		// }
		// code {
		// 	white-space: pre;
		// }
	}
	pre {
		overflow-x: scroll;
		overflow-y: hidden;
	}
	code {
		// white-space: pre;
		// @media #{$screen} {
		// 	white-space: nowrap;
		// }
	}
	.lineno {
		position: absolute;
		background-color: rgb(30,30,30);
		z-index: 200;
		padding: 3px;
		// left: .4em;
		left: 2%;
		@media #{$medium} {
			left: 1.3em;
		}
	}
	.c { color: #75715e }
	.err { color: #960050; background-color: #1e0010 }
	.k { color: #66d9ef }
	.l { color: #ae81ff }
	.n { color: #f8f8f2 }
	.o { color: #f92672 }
	.p { color: #f8f8f2 }
	.cm { color: #75715e }
	.cp { color: #75715e }
	.c1 { color: #75715e }
	.cs { color: #75715e }
	.ge { font-style: italic }
	.gs { font-weight: bold }
	.kc { color: #66d9ef }
	.kd { color: #66d9ef }
	.kn { color: #f92672 }
	.kp { color: #66d9ef }
	.kr { color: #66d9ef }
	.kt { color: #66d9ef }
	.ld { color: #e6db74 }
	.m { color: #ae81ff }
	.s { color: #e6db74 }
	.na { color: #a6e22e }
	.nb { color: #f8f8f2 }
	.nc { color: #a6e22e }
	.no { color: #66d9ef }
	.nd { color: #a6e22e }
	.ni { color: #f8f8f2 }
	.ne { color: #a6e22e }
	.nf { color: #a6e22e }
	.nl { color: #f8f8f2 }
	.nn { color: #f8f8f2 }
	.nx { color: #a6e22e }
	.py { color: #f8f8f2 }
	.nt { color: #f92672 }
	.nv { color: #f8f8f2 }
	.ow { color: #f92672 }
	.w { color: #f8f8f2 }
	.mf { color: #ae81ff }
	.mh { color: #ae81ff }
	.mi { color: #ae81ff }
	.mo { color: #ae81ff }
	.sb { color: #e6db74 }
	.sc { color: #e6db74 }
	.sd { color: #e6db74 }
	.s2 { color: #e6db74 }
	.se { color: #ae81ff }
	.sh { color: #e6db74 }
	.si { color: #e6db74 }
	.sx { color: #e6db74 }
	.sr { color: #e6db74 }
	.s1 { color: #e6db74 }
	.ss { color: #e6db74 }
	.bp { color: #f8f8f2 }
	.vc { color: #f8f8f2 }
	.vg { color: #f8f8f2 }
	.vi { color: #f8f8f2 }
	.il { color: #ae81ff }

	.gh { }
	.gu { color: #75715e; }
	.gd { color: #f92672; }
	.gi { color: #a6e22e; }
}