@mixin background-gradient($primarycolor, $secondarycolor, $imageurl: "" ) {
	background: $primarycolor;
	@if $imageurl != null {
		background: linear-gradient(45deg, $primarycolor 0%,$secondarycolor 100%),
		url($imageurl) center center no-repeat;
	} @else {
		background: linear-gradient(45deg, $primarycolor 0%,$secondarycolor 100%);
	}
}
@mixin transition($duration: 0.5s) {
	transition: color $duration, height $duration, transform $duration;
}
html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
}
body {
	background: whitesmoke;
	color: whitesmoke;
	&.preload * {
		display: none;
		-webkit-transition: none !important;
		-moz-transition: none !important;
		-ms-transition: none !important;
		-o-transition: none !important;
	}
	h1 {
		color: $black;
	}
	h2, h3, h4, h5, h6 {
		color: whitesmoke;
	}
	#topbar {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: whitesmoke;
		border-bottom: 0;
		height: 60px;
		z-index: 4000;
		overflow: hidden;
		padding: 9px 0;
		a {
			color: $black;
		}
		.branding {
			#logo, h1 {
				float: left;
				display: block;
			}
			#logo {
				max-height: 40px;
				max-width: 40px;
				margin-right: .6em;
			}
			h1 {
				font-size: 35px;
				margin-bottom: 0;
				text-transform: uppercase;
			}
		}
		nav {
			ul {
				li {
					a {
						padding: 0.25em 0.6em;
						display: block;
						border-radius: 200px;
						transition: .2s;
						font-weight: 500;
						&.experience {
							&:hover {
								color: whitesmoke;
								@include background-gradient(rgb(26, 198, 204), rgb(79, 135, 172));
							}
						}
						&.skills {
							&:hover{
								color: whitesmoke;
								@include background-gradient(#AF04A7, #CC0C49);
							}
						}
						&.portfolio {
							&:hover {
								color: whitesmoke;
								@include background-gradient(rgb(0, 225, 85), rgb(16, 220, 208));
							}
						}
						&.contact {
							&:hover {
								color: whitesmoke;
								@include background-gradient(rgb(206, 47, 10), rgb(255, 144, 0));
							}
						}
					}
				}
			}
		}
	}
	section {
		position: relative;

		display: table;
		overflow: hidden;
		width: 100%;
		min-height: 100%;
		height: 100%;
		padding: 2em 0;
		margin: 0 auto;

		text-align: center;
		header {
			margin-bottom: 3em;
			h2 {
				color: whitesmoke;
				display: inline-block;
				@media #{$medium} {
					background-image: linear-gradient(to top, rgba(0,0,0,0) 10%, whitesmoke 10%, whitesmoke 14%, rgba(0,0,0,0) 14%);
				}
			}
		}
		.content {
			margin-top: 20px; // THIS NEEDS FIXED
		}
		.button {
			display: none;
			@include background-gradient($black, $black);
			border-radius: 200px;
			color: white;
			font-family: $h-font-family;
			font-weight: 700;
			font-size: 1.5em;
			margin: 2em 0 0 0;
			padding: .4em .6em;
			transition: 1s;
			@media #{$medium} {
				display: inline-block;
			}
		}
		.section-icon {
			display: block;
			margin: 0 auto;
			max-width: 100px;
			max-height: 100px;
		}
		&#one {
			.avatar {
				border-radius: 200px;
				display: inline-block;
				background: url("../img/dustinarmstrong.jpeg") no-repeat center center;
				background-size: cover;
				max-width: 70px;
				width: 70px;
				max-height: 70px;
				height: 70px;
				animation-delay: 1s;
				@media #{$medium} {
					max-width: 200px;
					width: 200px;
					max-height: 200px;
					height: 200px;
				}
			}
			.plus, .equals {
				font-size: 1em;
				display: inline-block;
				vertical-align: top;
				margin: 25px 5px;
				font-weight: 800;
				color: $black;
				@media #{$medium} {
					font-size: 3em;
					margin: 65px 10px;
				}
			}
			.plus {
				animation-delay: 2s;
				&:before {
					content: "+";
				}
			}
			.saa-logo {
				animation-delay: 2s;
			}
			.equals {
				animation-delay: 3s;
				&:before {
					content: "=";
				}
			}
			.heart {
				animation-delay: 3s;
			}
			.greeting {
				animation-delay: 4s;
				margin: 2em 0;
				color: $black;
				font-style: italic;
				font-weight: 300;
			}
			.hire-me {
				animation-delay: 4.5s;
				&:hover {
					@include background-gradient(rgb(26, 198, 204), rgb(79, 135, 172));
					transition: 1s;
				}
			}
			img {
				max-width: 70px;
				max-height: 70px;
				@media #{$medium} {
					max-width: 200px;
					max-height: 200px;
				}
			}
		}

		&#two {
			@include background-gradient(rgba(26, 198, 204, 0.95), rgba(79, 135, 172, 0.95), "../img/geo-background.png");
			background-repeat: repeat;
			background-attachment: fixed;
			position: static;
			.employer {
				margin-bottom: 3em;
				h3 {
					margin-bottom: 10px;
				}
				h4 {
					margin-bottom: 0;
					font-style: italic;
					font-weight: 500;
					margin-bottom: 10px;
				}
				small {
					font-family: $h-font-family;
					font-weight: 200;
					font-size: 0.65em;
					margin-bottom: 10px;
					display: inline-block;
					&:before, &:after {
						content: "•";
						padding: .5em;
					}
				}
				p {
					font-size: .9em;
				}
			}
			.skills {
				&:hover {
					@include background-gradient(#AF04A7, #CC0C49);
					transition: 1s;
				}
			}
		}

		&#three {
			@include background-gradient(rgba(159, 0, 225, 0.6), rgba(220, 16, 16, 0.6), "../img/diagonal-background.png");
			background-repeat: repeat;
			background-attachment: fixed;
			position: static;
			ul {
				margin: 0 0 4em 0;
				padding: 0;
				li {
					list-style-type: none;
				}
			}
			.portfolio {
				&:hover {
					@include background-gradient(rgb(0, 225, 85), rgb(16, 220, 208));
					transition: 1;
				}
			}
		}

		&#four {
			@include background-gradient(rgba(0, 225, 85, 0.95), rgba(16, 220, 208, 0.95), "../img/isometric-background.png");
			background-repeat: repeat;
			background-attachment: fixed;
			position: static;
			.content {
				.portfolio-project {
					text-align: left;
					margin-bottom: 3em;
					padding-bottom: 3em;
					border-bottom: 1px solid whitesmoke;
					&:last-child {
						border-bottom: none;
						margin-bottom: 0;
						padding-bottom: 0;
					}
					h3 {
						text-align: center;
					}
					header {
						margin-bottom: 1em;
						p {
							font-family: $content-font-family;
							font-style: italic;
							font-size: .8em;
							display: block;
							margin: 1em 0;
							&:first-child {
								margin-top: 0;
							}
							a {
								color: whitesmoke;
								@media #{$medium} {
									background-image: linear-gradient(to top, rgba(0,0,0,0) 10%, whitesmoke 10%, whitesmoke 14%, rgba(0,0,0,0) 14%);
								}
								&:hover {
									color: $black;
									@media #{$medium} {
										background-image: linear-gradient(to top, rgba(0,0,0,0) 10%, $black 10%, $black 14%, rgba(0,0,0,0) 14%);
									}
								}
							}
						}
					}
					img {
						width: 100%;
					}
				}
				.contact {
					&:hover {
						color: whitesmoke;
						@include background-gradient(rgb(206, 47, 10), rgb(255, 144, 0));
					}
				}
			}
		}
		&#five {
			@include background-gradient(rgba(206, 47, 10, 0.6), rgba(255, 144, 0, 0.6), "../img/dustinarmstrong-background.jpg");
			background-size: cover;
			background-position: top;
			background-repeat: no-repeat;
			background-attachment: fixed;
			position: static;
			a {
				color: whitesmoke;
				@media #{$medium} {
					background-image: linear-gradient(to top, rgba(0,0,0,0) 10%, whitesmoke 10%, whitesmoke 14%, rgba(0,0,0,0) 14%);
				}
				&:hover {
					color: $black;
					@media #{$medium} {
						background-image: linear-gradient(to top, rgba(0,0,0,0) 10%, $black 10%, $black 14%, rgba(0,0,0,0) 14%);
					}
				}
			}
			img {
				border-radius: 200px;
			}
			small {
				font-family: $h-font-family;
				font-weight: 200;
				font-size: 0.65em;
				margin-bottom: 10px;
				display: inline-block;
				&:before, &:after {
					content: "•";
					padding: .5em;
				}
			}
		}

		.content {
			vertical-align: middle;

			display: table-cell;
			box-sizing: border-box;
			padding: 5%;

			text-align: center;		
		}
	}
}