@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain) */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Gentium+Book+Basic:400,700,400italic,700italic);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, ul li dl, ol li dl, dt, dd, ol, ul li ol, ol li ol, ul, ul li ul, ol li ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, div {
  display: block; }

body {
  line-height: 1; }

ol, ul li ol, ol li ol, ul, ul li ul, ol li ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.row {
  width: auto;
  margin: 0 auto;
  max-width: 99%; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row.collapse > .column, .row.collapse > .columns {
    padding: 0px; }
  .row.full-width {
    max-width: 100%; }
  .row .row {
    width: auto;
    max-width: 100%; }
    .row .row:before, .row .row:after {
      content: " ";
      display: table; }
    .row .row:after {
      clear: both; }
    .row .row.collapse > .column, .row .row.collapse > .columns {
      padding: 0px; }
    .row .row.full-width {
      max-width: 100%; }

.column, .columns {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  width: 100%; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.push-1 {
  left: 8.33333%;
  position: relative; }

.push-2 {
  left: 16.66667%;
  position: relative; }

.push-3 {
  left: 25%;
  position: relative; }

.push-4 {
  left: 33.33333%;
  position: relative; }

.push-5 {
  left: 41.66667%;
  position: relative; }

.push-6 {
  left: 50%;
  position: relative; }

.push-7 {
  left: 58.33333%;
  position: relative; }

.push-8 {
  left: 66.66667%;
  position: relative; }

.push-9 {
  left: 75%;
  position: relative; }

.push-10 {
  left: 83.33333%;
  position: relative; }

.push-11 {
  left: 91.66667%;
  position: relative; }

.push-12 {
  left: 100%;
  position: relative; }

.pull-1 {
  right: 8.33333%;
  position: relative; }

.pull-2 {
  right: 16.66667%;
  position: relative; }

.pull-3 {
  right: 25%;
  position: relative; }

.pull-4 {
  right: 33.33333%;
  position: relative; }

.pull-5 {
  right: 41.66667%;
  position: relative; }

.pull-6 {
  right: 50%;
  position: relative; }

.pull-7 {
  right: 58.33333%;
  position: relative; }

.pull-8 {
  right: 66.66667%;
  position: relative; }

.pull-9 {
  right: 75%;
  position: relative; }

.pull-10 {
  right: 83.33333%;
  position: relative; }

.pull-11 {
  right: 91.66667%;
  position: relative; }

.pull-12 {
  right: 100%;
  position: relative; }

@media only screen {
  .screen-1 {
    width: 8.33333%;
    position: relative; }

  .screen-offset-1 {
    margin-left: 8.33333% !important; }

  .screen-2 {
    width: 16.66667%;
    position: relative; }

  .screen-offset-2 {
    margin-left: 16.66667% !important; }

  .screen-3 {
    width: 25%;
    position: relative; }

  .screen-offset-3 {
    margin-left: 25% !important; }

  .screen-4 {
    width: 33.33333%;
    position: relative; }

  .screen-offset-4 {
    margin-left: 33.33333% !important; }

  .screen-5 {
    width: 41.66667%;
    position: relative; }

  .screen-offset-5 {
    margin-left: 41.66667% !important; }

  .screen-6 {
    width: 50%;
    position: relative; }

  .screen-offset-6 {
    margin-left: 50% !important; }

  .screen-7 {
    width: 58.33333%;
    position: relative; }

  .screen-offset-7 {
    margin-left: 58.33333% !important; }

  .screen-8 {
    width: 66.66667%;
    position: relative; }

  .screen-offset-8 {
    margin-left: 66.66667% !important; }

  .screen-9 {
    width: 75%;
    position: relative; }

  .screen-offset-9 {
    margin-left: 75% !important; }

  .screen-10 {
    width: 83.33333%;
    position: relative; }

  .screen-offset-10 {
    margin-left: 83.33333% !important; }

  .screen-11 {
    width: 91.66667%;
    position: relative; }

  .screen-offset-11 {
    margin-left: 91.66667% !important; }

  .screen-12 {
    width: 100%;
    position: relative; }

  .screen-offset-12 {
    margin-left: 100% !important; }

  .screen-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .screen-uncentered {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    float: left !important; } }
@media only screen and (min-width: 600px) {
  .small-1 {
    width: 8.33333%;
    position: relative; }

  .small-offset-1 {
    margin-left: 8.33333% !important; }

  .small-2 {
    width: 16.66667%;
    position: relative; }

  .small-offset-2 {
    margin-left: 16.66667% !important; }

  .small-3 {
    width: 25%;
    position: relative; }

  .small-offset-3 {
    margin-left: 25% !important; }

  .small-4 {
    width: 33.33333%;
    position: relative; }

  .small-offset-4 {
    margin-left: 33.33333% !important; }

  .small-5 {
    width: 41.66667%;
    position: relative; }

  .small-offset-5 {
    margin-left: 41.66667% !important; }

  .small-6 {
    width: 50%;
    position: relative; }

  .small-offset-6 {
    margin-left: 50% !important; }

  .small-7 {
    width: 58.33333%;
    position: relative; }

  .small-offset-7 {
    margin-left: 58.33333% !important; }

  .small-8 {
    width: 66.66667%;
    position: relative; }

  .small-offset-8 {
    margin-left: 66.66667% !important; }

  .small-9 {
    width: 75%;
    position: relative; }

  .small-offset-9 {
    margin-left: 75% !important; }

  .small-10 {
    width: 83.33333%;
    position: relative; }

  .small-offset-10 {
    margin-left: 83.33333% !important; }

  .small-11 {
    width: 91.66667%;
    position: relative; }

  .small-offset-11 {
    margin-left: 91.66667% !important; }

  .small-12 {
    width: 100%;
    position: relative; }

  .small-offset-12 {
    margin-left: 100% !important; }

  .small-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .small-uncentered {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    float: left !important; } }
@media only screen and (min-width: 768px) {
  .medium-1 {
    width: 8.33333%;
    position: relative; }

  .medium-offset-1 {
    margin-left: 8.33333% !important; }

  .medium-2 {
    width: 16.66667%;
    position: relative; }

  .medium-offset-2 {
    margin-left: 16.66667% !important; }

  .medium-3 {
    width: 25%;
    position: relative; }

  .medium-offset-3 {
    margin-left: 25% !important; }

  .medium-4 {
    width: 33.33333%;
    position: relative; }

  .medium-offset-4 {
    margin-left: 33.33333% !important; }

  .medium-5 {
    width: 41.66667%;
    position: relative; }

  .medium-offset-5 {
    margin-left: 41.66667% !important; }

  .medium-6 {
    width: 50%;
    position: relative; }

  .medium-offset-6 {
    margin-left: 50% !important; }

  .medium-7 {
    width: 58.33333%;
    position: relative; }

  .medium-offset-7 {
    margin-left: 58.33333% !important; }

  .medium-8 {
    width: 66.66667%;
    position: relative; }

  .medium-offset-8 {
    margin-left: 66.66667% !important; }

  .medium-9 {
    width: 75%;
    position: relative; }

  .medium-offset-9 {
    margin-left: 75% !important; }

  .medium-10 {
    width: 83.33333%;
    position: relative; }

  .medium-offset-10 {
    margin-left: 83.33333% !important; }

  .medium-11 {
    width: 91.66667%;
    position: relative; }

  .medium-offset-11 {
    margin-left: 91.66667% !important; }

  .medium-12 {
    width: 100%;
    position: relative; }

  .medium-offset-12 {
    margin-left: 100% !important; }

  .medium-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .medium-uncentered {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    float: left !important; } }
@media only screen and (min-width: 1024px) {
  .large-1 {
    width: 8.33333%;
    position: relative; }

  .large-offset-1 {
    margin-left: 8.33333% !important; }

  .large-2 {
    width: 16.66667%;
    position: relative; }

  .large-offset-2 {
    margin-left: 16.66667% !important; }

  .large-3 {
    width: 25%;
    position: relative; }

  .large-offset-3 {
    margin-left: 25% !important; }

  .large-4 {
    width: 33.33333%;
    position: relative; }

  .large-offset-4 {
    margin-left: 33.33333% !important; }

  .large-5 {
    width: 41.66667%;
    position: relative; }

  .large-offset-5 {
    margin-left: 41.66667% !important; }

  .large-6 {
    width: 50%;
    position: relative; }

  .large-offset-6 {
    margin-left: 50% !important; }

  .large-7 {
    width: 58.33333%;
    position: relative; }

  .large-offset-7 {
    margin-left: 58.33333% !important; }

  .large-8 {
    width: 66.66667%;
    position: relative; }

  .large-offset-8 {
    margin-left: 66.66667% !important; }

  .large-9 {
    width: 75%;
    position: relative; }

  .large-offset-9 {
    margin-left: 75% !important; }

  .large-10 {
    width: 83.33333%;
    position: relative; }

  .large-offset-10 {
    margin-left: 83.33333% !important; }

  .large-11 {
    width: 91.66667%;
    position: relative; }

  .large-offset-11 {
    margin-left: 91.66667% !important; }

  .large-12 {
    width: 100%;
    position: relative; }

  .large-offset-12 {
    margin-left: 100% !important; }

  .large-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .large-uncentered {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    float: left !important; } }
@media only screen and (min-width: 1300px) {
  .extra-large-1 {
    width: 8.33333%;
    position: relative; }

  .extra-large-offset-1 {
    margin-left: 8.33333% !important; }

  .extra-large-2 {
    width: 16.66667%;
    position: relative; }

  .extra-large-offset-2 {
    margin-left: 16.66667% !important; }

  .extra-large-3 {
    width: 25%;
    position: relative; }

  .extra-large-offset-3 {
    margin-left: 25% !important; }

  .extra-large-4 {
    width: 33.33333%;
    position: relative; }

  .extra-large-offset-4 {
    margin-left: 33.33333% !important; }

  .extra-large-5 {
    width: 41.66667%;
    position: relative; }

  .extra-large-offset-5 {
    margin-left: 41.66667% !important; }

  .extra-large-6 {
    width: 50%;
    position: relative; }

  .extra-large-offset-6 {
    margin-left: 50% !important; }

  .extra-large-7 {
    width: 58.33333%;
    position: relative; }

  .extra-large-offset-7 {
    margin-left: 58.33333% !important; }

  .extra-large-8 {
    width: 66.66667%;
    position: relative; }

  .extra-large-offset-8 {
    margin-left: 66.66667% !important; }

  .extra-large-9 {
    width: 75%;
    position: relative; }

  .extra-large-offset-9 {
    margin-left: 75% !important; }

  .extra-large-10 {
    width: 83.33333%;
    position: relative; }

  .extra-large-offset-10 {
    margin-left: 83.33333% !important; }

  .extra-large-11 {
    width: 91.66667%;
    position: relative; }

  .extra-large-offset-11 {
    margin-left: 91.66667% !important; }

  .extra-large-12 {
    width: 100%;
    position: relative; }

  .extra-large-offset-12 {
    margin-left: 100% !important; }

  .extra-large-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .extra-large-uncentered {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    float: left !important; } }
body {
  font-size: 18px; }
  @media only screen and (min-width: 600px) {
    body {
      font-size: 19px; } }
  @media only screen and (min-width: 768px) {
    body {
      font-size: 20px; } }
  @media only screen and (min-width: 1024px) {
    body {
      font-size: 22px; } }
  @media only screen and (min-width: 1300px) {
    body {
      font-size: 24px; } }

h1, .h1 {
  color: #0a0a0a;
  font-family: "futura-pt", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  margin: 0 0 1.1em 0;
  line-height: 1.2em; }
  h1 a, .h1 a {
    font-weight: 300; }
  h1 small, .h1 small {
    font-size: 0.5em;
    display: block; }

h2, .h2 {
  color: #0a0a0a;
  font-family: "futura-pt", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  margin: 0 0 1.1em 0;
  line-height: 1.2em; }
  h2 a, .h2 a {
    font-weight: 300; }
  h2 small, .h2 small {
    font-size: -0.8em;
    display: block; }

h3, .h3 {
  color: #0a0a0a;
  font-family: "futura-pt", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  margin: 0 0 1.1em 0;
  line-height: 1.2em; }
  h3 a, .h3 a {
    font-weight: 300; }
  h3 small, .h3 small {
    font-size: -2.1em;
    display: block; }

h4, .h4 {
  color: #0a0a0a;
  font-family: "futura-pt", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1em;
  font-weight: 300;
  margin: 0 0 1.1em 0;
  line-height: 1.2em; }
  h4 a, .h4 a {
    font-weight: 300; }
  h4 small, .h4 small {
    font-size: -3.4em;
    display: block; }

h5, .h5 {
  color: #0a0a0a;
  font-family: "futura-pt", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  margin: 0 0 1.1em 0;
  line-height: 1.2em; }
  h5 a, .h5 a {
    font-weight: 300; }
  h5 small, .h5 small {
    font-size: -4.7em;
    display: block; }

h6, .h6 {
  color: #0a0a0a;
  font-family: "futura-pt", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.6em;
  font-weight: 300;
  margin: 0 0 1.1em 0;
  line-height: 1.2em; }
  h6 a, .h6 a {
    font-weight: 300; }
  h6 small, .h6 small {
    font-size: -6.0em;
    display: block; }

i {
  font-style: italic; }

p, ul, ul li ul, ol li ul, ol, ul li ol, ol li ol, dl, ul li dl, ol li dl {
  margin: 0 0 1.5em 0;
  font-family: "Gentium Book Basic", Times, serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5; }

strong {
  font-weight: 300; }

ul, ul li ul, ol li ul {
  margin: 1.5em 0 1.5em 1em;
  line-height: 0; }
  ul li, ul li ul li, ol li ul li {
    line-height: 1.5;
    list-style-type: disc; }
    ul li ul {
      margin-top: 0px;
      margin-bottom: 0px; }
    ul li ol {
      margin-top: 0px;
      margin-bottom: 0px; }
    ul li dl {
      margin-top: 0px;
      margin-bottom: 0px; }

ol, ul li ol, ol li ol {
  margin: 1.5em 0 1.5em 1.4em;
  line-height: 0; }
  ol li, ul li ol li, ol li ol li {
    line-height: 1.5;
    list-style-type: decimal; }
    ol li ul {
      margin-top: 0px;
      margin-bottom: 0px; }
    ol li ol {
      margin-top: 0px;
      margin-bottom: 0px; }
    ol li dl {
      margin-top: 0px;
      margin-bottom: 0px; }

dl, ul li dl, ol li dl {
  margin: 1.5em 0 1.5em 0;
  line-height: 0; }
  dl dd, ul li dl dd, ol li dl dd {
    margin-left: 1em;
    line-height: 1.5; }
    dl dd:before {
      content: "- "; }

/* THIS AREA NEEDS VARIABLES */
code {
  max-width: 100%;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: .75em;
  color: #777;
  padding: .2em;
  border-radius: 2px;
  margin: 0 0 1.5em 0; }
  @media only screen and (min-width: 600px) {
    code {
      padding: .1em; } }

blockquote {
  padding-left: 10px;
  border-left: 5px solid #c8c7b8;
  margin: 0 0 1.5em 0; }

cite {
  font-style: italic;
  font-size: .8em;
  display: block;
  margin-top: 1em; }
  cite:before {
    content: "\2014 \0020"; }

button, a.button, input[type=submit] {
  background: #0a0a0a;
  border: none;
  padding: 0.5em;
  font-size: 1em;
  display: inline-block;
  border-radius: 2px;
  color: white !important; }
  button:hover, a.button:hover, input[type=submit]:hover {
    background: black; }
  button.tiny, a.button.tiny, input[type=submit].tiny {
    padding: 0.5em;
    font-size: 0.7em; }
  button.small, a.button.small, input[type=submit].small {
    padding: 0.5em;
    font-size: 0.8em; }
  button.large, a.button.large, input[type=submit].large {
    padding: 0.9em;
    font-size: 1.2em; }
  button.expand, a.button.expand, input[type=submit].expand {
    width: 100%; }
  button.primary, a.button.primary, input[type=submit].primary {
    background: #0a0a0a; }
    button.primary:hover, a.button.primary:hover, input[type=submit].primary:hover {
      background: black; }
  button.secondary, a.button.secondary, input[type=submit].secondary {
    background: #00ed7a; }
    button.secondary:hover, a.button.secondary:hover, input[type=submit].secondary:hover {
      background: #00ba60; }
  button.disabled, a.button.disabled, input[type=submit].disabled {
    background: #c8c7b8; }
    button.disabled:hover, a.button.disabled:hover, input[type=submit].disabled:hover {
      background: #c4c2b2; }
  button.alert, a.button.alert, input[type=submit].alert {
    background: #ff362a; }
    button.alert:hover, a.button.alert:hover, input[type=submit].alert:hover {
      background: #f60e00; }

a {
  color: #0a0a0a;
  text-decoration: none;
  background-image: linear-gradient(to top, transparent 12%, black 12%, black 16%, transparent 16%);
  font-family: "Gentium Book Basic", Times, serif;
  font-size: 1em;
  font-weight: 400; }
  a:visited {
    color: #0a0a0a; }
  a:hover {
    color: black; }
  a.primary {
    color: #0a0a0a; }
    a.primary:hover {
      color: black; }
  a.secondary {
    color: #00ed7a; }
    a.secondary:hover {
      color: #00ba60; }
  a.disabled {
    color: #c8c7b8; }
    a.disabled:hover {
      color: #c4c2b2; }
  a.alert {
    color: #ff362a; }
    a.alert:hover {
      color: #f60e00; }

img.fluid-image {
  max-width: 100%;
  height: auto; }

nav ul, nav ul li ul, ul li nav ul, nav ol li ul, ol li nav ul {
  margin: 0; }
  nav ul li {
    display: block; }
    @media only screen and (min-width: 768px) {
      nav ul li {
        display: inline-block; } }
    nav ul li a {
      font-weight: 300;
      background-image: none; }

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license

Copyright (c) 2013 Daniel Eden

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes logo {
  0%  img.portrait {
    opacity: 1; }

  100% {
    border-radius: 200px;
    transform: rotateY(180deg); } }
@-webkit-keyframes flip {
  0% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }

  40% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
    transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }

  50% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }

  80% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(0.95);
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }

  100% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; } }
@keyframes flip {
  0% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    -ms-transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }

  40% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
    -ms-transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
    transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }

  50% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    -ms-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }

  80% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(0.95);
    -ms-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(0.95);
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }

  100% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    -ms-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; } }
.animated.flip {
  -webkit-backface-visibility: visible;
  -ms-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flip;
  animation-name: flip; }

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0; }

  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg); }

  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg); }

  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1; } }
@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    -ms-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0; }

  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    -ms-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg); }

  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    -ms-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg); }

  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    -ms-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1; } }
.flipInX {
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX; }

@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px); }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px); }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown; }

@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px); }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px); }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft; }

@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px); }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px); }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight; }

html, body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

body {
  color: #f0f0f0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s; }
  body.pink {
    background: #E56B6B; }
  body.blue {
    background: #1ac6cc; }
  body.green {
    background: #34EC86; }
  body.orange {
    background: #f09a3d; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #f0f0f0 !important; }
  body p:last-child {
    margin-bottom: 0; }
  body a {
    color: #f0f0f0;
    background-image: linear-gradient(to top, transparent 12%, #f0f0f0 12%, #f0f0f0 16%, transparent 16%); }
    body a:visited, body a:hover {
      color: inherit; }
  body img {
    max-width: 100%; }
  body blockquote {
    border-left: 2px solid #f0f0f0; }
  body .site {
    min-height: 100%;
    margin-bottom: -2em; }
    body .site:after {
      content: "";
      display: block;
      height: 2em; }
  body header {
    margin: 2em 0 3em 0;
    text-align: center; }
    body header .avatar {
      margin-bottom: 1em;
      display: inline-block;
      width: 5em;
      height: 5em;
      -webkit-animation-delay: 1s;
      float: none;
      clear: both; }
      body header .avatar a {
        background-image: none;
        width: 5em;
        height: 5em;
        margin: auto;
        position: relative;
        display: block; }
        body header .avatar a:hover .logo {
          z-index: 1;
          -webkit-transform: rotateX(180deg);
          -ms-transform: rotateX(180deg);
          -moz-transform: rotateX(180deg);
          transform: rotateX(180deg); }
        body header .avatar a:hover .portrait {
          z-index: 2;
          -webkit-transform: rotateX(0deg);
          -ms-transform: rotateX(0deg);
          -moz-transform: rotateX(0deg);
          transform: rotateX(0deg); }
      body header .avatar .flip {
        width: 100%;
        height: 100%;
        -o-transition: all .5s;
        -ms-transition: all .5s;
        -moz-transition: all .5s;
        -webkit-transition: all .5s;
        transition: all .5s;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        top: 0px;
        left: 0px; }
        body header .avatar .flip.logo {
          z-index: 2;
          background-image: url("../img/dustinarmstrong-logo.svg"); }
        body header .avatar .flip.portrait {
          z-index: 1;
          background-image: url("../img/dustinarmstrong.jpeg");
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 200px;
          -webkit-transform: rotateX(-180deg);
          -ms-transform: rotateX(-180deg);
          -moz-transform: rotateX(-180deg);
          transform: rotateX(-180deg); }
    body header h1, body header .h1 {
      color: #f0f0f0;
      text-transform: uppercase;
      font-size: 1.8em;
      margin-bottom: 0;
      line-height: 1em; }
      @media only screen and (min-width: 768px) {
        body header h1, body header .h1 {
          margin-top: .1em;
          font-size: 2em; } }
      @media only screen and (min-width: 1024px) {
        body header h1, body header .h1 {
          margin-top: .2em;
          font-size: 2.5em; } }
      body header h1 small, body header .h1 small {
        font-style: italic;
        line-height: 1em;
        margin-top: .4em; }
    body header h2, body header .h2 {
      text-transform: uppercase; }
  body nav ul {
    margin-top: 1em;
    text-align: center;
    height: 0;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s; }
    body nav ul:before {
      content: "Menu";
      font-family: "futura-pt", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 1em;
      position: absolute;
      right: .1em;
      top: 0;
      padding: 1em;
      display: block;
      border: 1px solid #f0f0f0;
      border-radius: 200px;
      overflow: hidden;
      height: 0; }
    @media only screen and (min-width: 768px) {
      body nav ul {
        text-align: right;
        height: auto !important; }
        body nav ul:before {
          display: none; } }
    body nav ul.expand {
      height: 145px;
      overflow: hidden;
      transition: all 0.1s;
      -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s; }
      body nav ul.expand:before {
        content: "Close";
        top: 8.2em;
        right: .1em; }
      body nav ul.expand li {
        display: inline-block; }
    body nav ul li {
      display: none;
      border-radius: 200px;
      padding: 0;
      margin: 0 .1em .5em 0;
      font-size: 1em;
      background: transparent;
      border: 1px solid #f0f0f0;
      outline: 0;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      width: 49%; }
      body nav ul li:nth-child(even) {
        float: right; }
      body nav ul li:nth-child(odd) {
        float: left; }
      body nav ul li:focus {
        box-shadow: none; }
      body nav ul li:hover {
        background: rgba(0, 0, 0, 0.2);
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s; }
      body nav ul li:last-child {
        margin-right: 0; }
      @media only screen and (min-width: 768px) {
        body nav ul li {
          font-size: .7em;
          display: inline-block;
          width: auto;
          margin: 0 .2em 1em 0;
          border: 2px solid #f0f0f0; }
          body nav ul li:nth-child(even), body nav ul li:nth-child(odd) {
            float: none; } }
      body nav ul li a, body nav ul li a:visited, body nav ul li a:hover {
        color: #f0f0f0;
        font-family: "futura-pt", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        padding: .3em 1em;
        display: block; }
        @media only screen and (min-width: 768px) {
          body nav ul li a, body nav ul li a:visited, body nav ul li a:hover {
            padding: .5em 1em; } }
    body nav ul .content {
      padding: 1em 0; }
  body .section {
    padding: 4em 0;
    background: #0a0a0a; }
    body .section .highlight {
      background: #1e1e1e; }
    body .section:nth-child(even) {
      background: #1e1e1e; }
      body .section:nth-child(even) .highlight {
        background: #0a0a0a; }
    body .section .post.excerpt p {
      margin-bottom: .3em; }
    body .section .post.excerpt .read-more {
      float: right;
      margin-right: 1em;
      font-size: .9em;
      font-style: italic; }
      body .section .post.excerpt .read-more a {
        background-image: none; }
    body .section .post p.case-study-details {
      margin-top: 2em;
      font-size: .8em; }
    body .section header {
      margin-top: 0;
      margin-bottom: 1em;
      text-align: center; }
      body .section header.sidebar {
        margin-bottom: .2em; }
        body .section header.sidebar h1, body .section header.sidebar .h1, body .section header.sidebar h2, body .section header.sidebar .h2 {
          font-size: .7em; }
      body .section header h1, body .section header .h1, body .section header h2, body .section header .h2 {
        margin-bottom: 0; }
      body .section header .meta {
        font-family: "futura-pt", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: .7em; }
        body .section header .meta:before, body .section header .meta:after {
          content: "•";
          padding: .1em; }
      body .section header a {
        color: #f0f0f0;
        font-family: "futura-pt", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        text-transform: uppercase;
        background-image: none; }
  body .introduction {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    width: 100%;
    background-color: white; }
    body .introduction.hidden {
      display: none;
      height: 0;
      width: 0;
      overflow: hidden; }
    body .introduction header {
      text-align: left; }
    body .introduction .vertical-wrapper {
      display: table-cell;
      vertical-align: middle; }
    body .introduction .intro {
      color: #0a0a0a; }
    body .introduction button {
      border-radius: 0;
      background: #0a0a0a;
      border: 0px;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s; }
      body .introduction button:hover {
        background: #3d3d3d;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s; }
  body .highlight {
    background: #1A1A1A; }
  body .site-footer {
    text-align: center;
    height: 2em;
    padding: .5em 0;
    font-family: "futura-pt", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
    body .site-footer a {
      font-family: inherit; }

.highlight {
  max-width: 100%;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: .75em;
  color: #777;
  border-radius: 2px;
  padding: .5em .5em .5em 2em;
  background-color: #49483e;
  margin: 0 0 1.5em 0; }
  .highlight.expand {
    padding: 2.4em .5em .5em 2em; }
    @media only screen and (min-width: 600px) {
      .highlight.expand {
        padding: .5em .5em .5em 2em; } }
  .highlight pre {
    overflow-x: scroll;
    overflow-y: hidden; }
  .highlight .lineno {
    position: absolute;
    background-color: #1e1e1e;
    z-index: 200;
    padding: 3px;
    left: 2%; }
    @media only screen and (min-width: 768px) {
      .highlight .lineno {
        left: 1.3em; } }
  .highlight .c {
    color: #75715e; }
  .highlight .err {
    color: #960050;
    background-color: #1e0010; }
  .highlight .k {
    color: #66d9ef; }
  .highlight .l {
    color: #ae81ff; }
  .highlight .n {
    color: #f8f8f2; }
  .highlight .o {
    color: #f92672; }
  .highlight .p {
    color: #f8f8f2; }
  .highlight .cm {
    color: #75715e; }
  .highlight .cp {
    color: #75715e; }
  .highlight .c1 {
    color: #75715e; }
  .highlight .cs {
    color: #75715e; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .kc {
    color: #66d9ef; }
  .highlight .kd {
    color: #66d9ef; }
  .highlight .kn {
    color: #f92672; }
  .highlight .kp {
    color: #66d9ef; }
  .highlight .kr {
    color: #66d9ef; }
  .highlight .kt {
    color: #66d9ef; }
  .highlight .ld {
    color: #e6db74; }
  .highlight .m {
    color: #ae81ff; }
  .highlight .s {
    color: #e6db74; }
  .highlight .na {
    color: #a6e22e; }
  .highlight .nb {
    color: #f8f8f2; }
  .highlight .nc {
    color: #a6e22e; }
  .highlight .no {
    color: #66d9ef; }
  .highlight .nd {
    color: #a6e22e; }
  .highlight .ni {
    color: #f8f8f2; }
  .highlight .ne {
    color: #a6e22e; }
  .highlight .nf {
    color: #a6e22e; }
  .highlight .nl {
    color: #f8f8f2; }
  .highlight .nn {
    color: #f8f8f2; }
  .highlight .nx {
    color: #a6e22e; }
  .highlight .py {
    color: #f8f8f2; }
  .highlight .nt {
    color: #f92672; }
  .highlight .nv {
    color: #f8f8f2; }
  .highlight .ow {
    color: #f92672; }
  .highlight .w {
    color: #f8f8f2; }
  .highlight .mf {
    color: #ae81ff; }
  .highlight .mh {
    color: #ae81ff; }
  .highlight .mi {
    color: #ae81ff; }
  .highlight .mo {
    color: #ae81ff; }
  .highlight .sb {
    color: #e6db74; }
  .highlight .sc {
    color: #e6db74; }
  .highlight .sd {
    color: #e6db74; }
  .highlight .s2 {
    color: #e6db74; }
  .highlight .se {
    color: #ae81ff; }
  .highlight .sh {
    color: #e6db74; }
  .highlight .si {
    color: #e6db74; }
  .highlight .sx {
    color: #e6db74; }
  .highlight .sr {
    color: #e6db74; }
  .highlight .s1 {
    color: #e6db74; }
  .highlight .ss {
    color: #e6db74; }
  .highlight .bp {
    color: #f8f8f2; }
  .highlight .vc {
    color: #f8f8f2; }
  .highlight .vg {
    color: #f8f8f2; }
  .highlight .vi {
    color: #f8f8f2; }
  .highlight .il {
    color: #ae81ff; }
  .highlight .gu {
    color: #75715e; }
  .highlight .gd {
    color: #f92672; }
  .highlight .gi {
    color: #a6e22e; }
