{% include head.html %}
    <body class="blue">

        <div class="site">
          {% include nav.html %}
          <div class="row full-width">
            <div class="screen-11 screen-centered medium-8 medium-centered columns">
              <header class="main-header">
                <div class="headercenter">
                  <div class="avatar"><img src="assets/img/dustinarmstrong.jpeg"></div>
                  <h1 class="page-header">{{ site.name }}<small>{{ page.title }}</small></h1>
                </div>
              </header>
            </div>
          </div>
          
          
          <div class="row full-width content">
            {{ content }}
          </div>

{% include footer.html %}
