{% include head.html %}
    <body class="blue">

        <div class="site">
          {% include nav.html %}
          <div class="row full-width">
            <div class="screen-11 screen-centered medium-8 medium-centered columns">
              <header class="main-header">
                <div class="headercenter">
                  <div class="avatar"><a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}/assets/img/dustinarmstrong.jpeg"></a></div>
                  <h1 class="page-header">{{ site.name }}<small>{{ page.title }}</small></h1>
                </div>
              </header>
            </div>
          </div>
          
          
          <div class="row full-width content">
            {{ content }}
          </div>

          {% if page.url == "/index.html" %}
            <div class="introduction">
              <div class="vertical-wrapper">
                <div class="row">
                  <div class="screen-11 screen-centered medium-8 medium-centered columns">
                    <header>
                      <h2 class="intro">Hello. My name is Dustin Armstrong, and I make things pretty on the internet.</h2>
                      <button class="hide-introduction">Click here for the good stuff.</button>
                    </header>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}

{% include footer.html %}
