{% include head.html %}
    <body class="orange">

        <div class="site">
          {% include nav.html %}
          <div class="row full-width">
            <div class="screen-11 screen-centered medium-8 medium-centered columns">
              <header class="main-header">
                <div class="headercenter">
                  <div class="avatar"><a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}/assets/img/dustinarmstrong.jpeg"></a></div>
                  <h3 class="h1 page-header">{{ site.name }}<small>This is a Blog Post</small></h3>
                </div>
              </header>
            </div>
          </div>
          
          
          <div class="row full-width content">
            {{ content }}
          </div>
        </div>

{% include footer.html %}
