{% include head.html %}
    <body class="orange">

        <div class="site">
          {% include nav.html %}
          <div class="row full-width">
            <div class="screen-11 screen-centered medium-8 medium-centered columns">
              <header class="main-header">
                <div class="headercenter">
                  <div class="avatar" ontouchstart="this.classList.toggle('hover');"><a href="{{ site.baseurl }}"><div class="logo flip" alt="Dustin Armstrong"></div><div class="portrait flip" alt="Dustin Armstrong"></div></a></div>
                  <h3 class="h1 page-header">{{ site.name }}<small>{% if page.categories contains 'case-study' %}This is a Case-Study{% else %}This is a Blog Post{% endif %}</small></h3>
                </div>
              </header>
            </div>
          </div>
          
          
          <div class="row full-width content">
            {{ content }}
          </div>
        </div>

{% include footer.html %}
