---
layout: posts
---
<div class="row full-width section">
	{% include default-columns.html %}
		{% if page.categories contains 'case-study' %}
			<article>
				<header>
					<h1 class="h2">{{ page.title }} / {{ page.client }}</h1>
					<h5>Employer: {{ page.employer }}</h5>
				</header>
				<div class="post">
					<p class="case-study-details">
						Skills: {{ page.skills }}
						<br>
						Site Active: {% if page.active == true %}Yes{% else %}No{% endif %}
						<br>
						URL: <a href="{{ page.link }}" target="_blank">{{ page.link }}</a>
						<br>
						Maintaining: {% if page.maintaining == true %}Yes{% else %}No{% endif %}
					</p>
					{{ content }}
				</div>
			</article>
		{% else %}
			<article>
				<header>
					<h1 class="h2">{{ page.title }}</h1>
					{% if page.subtitle != %}<h2 class="h4">{{ page.subtitle }}</h2>{% endif %}
					<p class="meta">{{ page.date | date_to_string }}</p>
				</header>
				<div class="post">
					{{ content }}
				</div>
			</article>
		{% endif %}
	</div>
</div>